@model List<Lab3IGI.Reader>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Readers</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/htmlpage.html" class="navbar-brand">HTML</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/First">Books</a></li>
                    <li><a href="/Home/Third">Issuences</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main role="main">
        <div class="container">
            <h2>Readers</h2>
            <div id="ValueFromMiddleware">
            </div>

            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model[0].FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].DateOfBirth)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].Adres)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].PassportData)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].PhoneNumber)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfBirth)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Adres)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PassportData)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <h2>Add new Reader</h2>
            @using (@Html.BeginForm("AddNewItemReader", "Home", FormMethod.Post))
            {

                Lab3IGI.Reader reader = (Lab3IGI.Reader)ViewData["Second"];
                <table class="table-condensed">
                    <tr>
                        <td><label for="FullName">Full name of reader</label></td>
                        <td>@Html.EditorFor(model => reader.FullName)</td>
                    </tr>

                    <tr class="form-group">
                        <td><label for="DateOfBirth">Date of birth</label></td>
                        <td>@Html.EditorFor(model => reader.DateOfBirth)</td>
                    </tr>

                    <tr class="form-group">
                        <td><label for="Adres">Address</label></td>
                        <td> @Html.EditorFor(model => reader.Adres)</td>
                    </tr>

                    <tr class="form-group">
                        <td><label for="PhoneNumber">Phone number</label></td>
                        <td>@Html.EditorFor(model => reader.PhoneNumber)</td>
                    </tr>
                    <tr class="form-group">
                        <td><label for="PassportData">Passport data</label></td>
                        <td>@Html.EditorFor(model => reader.PassportData)</td>
                    </tr>
        
                    <tr>
                        <td><input class="btn btn-default btn-primary" type="submit" /></td>
                        <td></td>
                    </tr>
                </table>

            }

            @if (@ViewData["ReaderFromMemory"] != null)
            {
                Lab3IGI.Reader ReaderFromMemory = (Lab3IGI.Reader)ViewData["ReaderFromMemory"];
                <h2>Reader from memory</h2>
                <table class="table-condensed table-striped table-bordered">
                    <tr>
                        <td> @Html.DisplayNameFor(x => x[0].ID)</td>
                        <td> @ReaderFromMemory.ID.ToString()</td>
                    </tr>
                    <tr>
                        <td> @Html.DisplayNameFor(x => x[0].FullName)</td>
                        <td>@ReaderFromMemory.FullName.ToString()</td>
                    </tr>
                    <tr>
                        <td> @Html.DisplayNameFor(x => x[0].DateOfBirth)</td>
                        <td>@ReaderFromMemory.DateOfBirth.ToString()</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(x => x[0].Adres)</td>
                        <td> @ReaderFromMemory.Adres.ToString()</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(x => x[0].PassportData)</td>
                        <td>@ReaderFromMemory.PassportData.ToString()</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(x => x[0].PhoneNumber)</td>
                        <td> @ReaderFromMemory.PhoneNumber.ToString()</td>
                    </tr>
                </table>
            }
        </div>
    </main>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>


</body>
</html>

