@model IEnumerable<Reader>
@using lab5.Extensions
@{
    ViewData["Title"] = "Index";
}
<h2>Readers</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="input-group">
    @Html.Glyicon()
    <input id="find" value="@GetFromSession("Reader.Finding")" name="find" class="form-control" />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <span>@Html.DisplayNameFor(model => model.FullName)</span>

            </th>
            <th>
                <span>@Html.DisplayNameFor(model => model.DateOfBirth)</span>
                <input type="checkbox" id="sort-name"
                       checked="@(GetFromSession("Reader.Filter.First") == "True" ? true : false)" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassportData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="list">
        @foreach (var item in Model)
        {
            <tr id="@item.FullName" class="item-line">
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassportData)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <div>User Actions history:</div>
    <div>
        <ul>
            @foreach (var act in ViewBag.UserActions as List<string>)
            {
                <li>@act</li>
            }
        </ul>
    </div>
</div>

@section Scripts{
    <script src="~/js/Index.js"></script>
    <script src="~/js/Readers.Index.js"></script>
}

@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@functions{
    public string GetFromSession(string key)
    {
        var findingTextJSON = Context.Session.GetString(key);
        var findingText = findingTextJSON == null ? "" : JsonConvert.DeserializeObject<string>(findingTextJSON);
        return findingText;
    }
}